@model IEnumerable<ReCVEServer.Models.CVE>

@{
    ViewData["Title"] = "CVEView";

    List<CVE> allCVEs = new List<CVE>();
    foreach (var CVE in Model)
    {
        allCVEs.Add(CVE);
    }
    allCVEs.OrderBy(c => c.baseScore).ThenBy(c => c.baseScore);
}

@section Scripts{
    <script src="~/js/CVE/queryAPI.js" asp-append-version="true"></script>
    <script src="~/js/CVE/severityChart.js" asp-append-version="true"></script>

}
<div class="container-fluid mt-4">
    <h1>CVEView</h1>

    <br />


    <hr>



    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Devices</h1>
    </div>
    <button class="btn btn-info" onclick="QueryAPI()">Update CVE Database</button>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div id="cvePieChart"></div>

                </div>
            </div>
            </div>
        </div>
    <div class="col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">

            </div>
        </div>
    </div>
    </div>


</div>