
@model IEnumerable<ReCVEServer.Models.CVE>

@{
    ViewData["Title"] = "CVEView";

    List<CVE> allCVEs = new List<CVE>();
    foreach (var CVE in Model)
    {
        allCVEs.Add(CVE);
    }
    allCVEs.OrderBy(c => c.baseScore).ThenBy(c => c.baseScore);
}

@section Scripts{

   
  
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/10.3.2/highcharts.js" integrity="sha512-JVzXlL1mZb/G0YNUJtPqUzA/QtPMQLNpCtEBOV9R8P3Uskp4W0C+6SVZ3rpwnKcp/V/59YQoGNUYmB/N6do1sA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="~/js/CVE/severityChart.js" asp-append-version="true"></script>
  


 
}

<h1>CVEView</h1>

<br />
<button class="btn btn-warning" id="get_data" onclick="fetchCveChartData('@Url.Action("GetCveChartData", "nist")', 'cvePieChart', createChart)">Get Data</button>

<div class="spinner-border text-dark" id="spinner" role="status">
</div>
<hr>


<div id="cvePieChart"></div>


