
@model IEnumerable<ReCVEServer.Models.CVE>
@{
    ViewData["Title"] = "CVEView";

    List<CVE> allCVEs = new List<CVE>();
    foreach (var CVE in Model)
    {
        allCVEs.Add(CVE);
    }
    allCVEs.OrderBy(c => c.baseScore).ThenBy(c => c.baseScore);
}

@section Scripts{

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/10.3.2/highcharts.js" integrity="sha512-JVzXlL1mZb/G0YNUJtPqUzA/QtPMQLNpCtEBOV9R8P3Uskp4W0C+6SVZ3rpwnKcp/V/59YQoGNUYmB/N6do1sA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/CVE/Chart.js" asp-append-version="true"></script>

}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<h1>CVEView</h1>

<br />
<button class="btn btn-warning" id="get_data" onclick="getData()">Get Data</button>
<div class="spinner-border text-dark" id="spinner" role="status">
</div>
<hr>

<div id="cvePieChart"></div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetCveChartData", "nist")',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                var chartData = data.map(function (item) {
                    return {
                        name: 'Base Score: ' + item.baseScore,
                        y: item.count
                    };
                });

                // Create the Highcharts pie chart
                Highcharts.chart('cvePieChart', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'CVE Base Scores Distribution'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        name: 'CVEs',
                        colorByPoint: true,
                        data: chartData
                    }]
                });
            },
            error: function (error) {
                console.error('Error fetching CVE chart data:', error);
            }
        });
    });
</script>
<figure class="highcharts-figure">
    <div id="CVEPie"></div>
    <p class="highcharts-description">
        Pie chart displaying total enrollment count in course as of today
    </p>
</figure>
