@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "NIST CVE Data";
}
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/CVE/queryAPI.js" asp-append-version="true"></script>
}
<h2>NIST CVE Data</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
else
{
    <button class="btn btn-warning" onclick="QueryAPI()">Query API</button>

    <pre>@ViewBag.CveData</pre>
}
