@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section scripts{
    <script src="~/js/Device/usage.js" asp-append-version="true"></script>
}
<div class="text-center">
    <h1 class="display-4">Welcome devices page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="chart-container" style="width: 100%; height: 400px;"></div>
<script>
     // Update every 30 seconds
</script>